#content {
    .contacts {
        padding-top: 80px;

        h1 {
            margin-bottom: 56px;

            @media screen and (max-width: 414px) {
                margin-bottom: 10px;
            }
        }

        .contacts_wrapper {
            width: 100%;
            display: flex;

            @media screen and (max-width: 414px) {
                flex-direction: column;
            }

            .contacts_items {
                display: flex;
                flex: 1;

                @media screen and (max-width: 414px) {
                    margin-bottom: 30px;
                }

                .items_col {
                    .item {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        margin-right: 20px;

                        img {
                            max-width: 100px;
                            max-height: 100px;
                            width: 100%;
                            height: 100%;

                            @media screen and (max-width: 414px) {
                                max-width: 82px;
                            }
                        }

                        p {
                            text-align: center;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 30px;
                            text-align: center;
                            color: #114990;

                            @media screen and (max-width: 960px) {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }

            .contacts_form {
                flex: 2;
            }
        }
    }

    .title_wrapper {
        display: flex;
        width: 100%;

        @media screen and (max-width: 414px) {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .about_slider-text {
            font-size: 20px;
            font-weight: 700;
            line-height: 60px;
            margin-left: 30px;
            text-align: left;
            color: #A4B0CC;

            @media screen and (max-width: 960px) {
                font-size: 16px;
            }

            @media screen and (max-width: 414px) {
                margin-left: 0px;
                font-size: 12px;
                line-height: 21px;

            }
        }
    }

    .about_intro {
        display: flex;
        flex-flow: row;
        border-bottom: solid 2px #EEEEEE;
        padding-bottom: 56px;
        width: 100%;

        @media screen and (max-width: 414px) {
            flex-direction: column;
            padding-bottom: 48px;
        }

        .about_intro-text {
            width: 100%;
            max-width: 620px;
            min-width: 300px;
            height: inherit;
            justify-content: end;
            display: flex;
            flex-direction: column;
            margin-right: 60px;

            @media screen and (max-width: 414px) {
                margin-right: 0;
            }

            p {
                margin-right: 20px;
                font-family: Vela Sans Thin;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #114990;
                margin-bottom: 48px;

                @media screen and (max-width: 414px) {
                    margin-right: 0;
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 32px;
                }

                span {
                    color: #EB6359;
                }
            }
        }

        .about_table {
            display: flex;
            flex-flow: row;
            width: 100%;
            margin-right: 100px;

            .title {
                display: flex;
                flex-direction: column;
                color: #EB6359;
                font-size: 34px;
                font-weight: 800;
                line-height: 46px;
                text-align: left;
                width: 50%;
                margin-bottom: 32px;

                @media screen and (max-width: 960px) {
                    font-size: 27px;
                    line-height: 40px;
                }

                span {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    text-align: left;
                    color: #114990;
                    margin-top: 10px;

                    @media screen and (max-width: 960px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }

        .about_slider {
            flex: 2;
            width: 100%;
            justify-content: end;
            display: flex;

            .carousel {
                width: 100%;
                min-width: 292px;
                max-width: 620px;
                min-height: 300px;
                max-height: 360px;
                height: 100%;

                .carousel-inner {
                    // background-color: rgba(0, 0, 0, 0);
                    border-radius: 20px;
                    background: grey;
                    position: relative;
                    height: inherit;
                    width: inherit;
                }

                .carousel-item {
                    height: inherit;
                    width: inherit;
                    animation: fadeIn .6s;
                    background: pink;
                    position: relative;

                    // transition: opacity 1s;
                    @keyframes fadeIn {
                        0% {
                            opacity: .3;
                        }

                        80% {
                            opacity: 1;
                        }

                    }

                    h5 {
                        font-size: 25px;
                        font-weight: 800;
                        line-height: 25px;
                        text-align: center;
                        top: -130px;
                        margin-top: auto;
                        margin-bottom: auto;
                        position: absolute;

                        @media screen and (max-width: 960px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width: 960px) {
                            font-size: 15px;
                        }
                    }

                    img {
                        width: 100%;
                        min-width: 292px;
                        max-width: 620px;
                        object-fit: cover;
                        border-radius: 20px;
                        min-height: 283px;
                        max-height: 360px;
                        height: 100%;
                    }
                }

                .carousel-indicators {
                    margin: 0;
                    margin-right: 20px;
                }

                ol {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    bottom: 30px;
                    // right: 10px;
                    position: absolute;

                    li {
                        opacity: 1;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        margin-right: 16px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .about_info {
        .info_item {
            display: flex;
            padding-top: 56px;
            padding-bottom: 56px;
            width: 90%;
            margin-left: auto;
            border-bottom: solid 2px #EEEEEE;

            @media screen and (max-width: 414px) {
                flex-direction: column;
                margin-left: 0;
                margin-right: 0;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .main_title {
                font-size: 48px;
                font-weight: 800;
                line-height: 66px;
                color: #EB6359;
                width: 300%;
                padding: 0 66px 0px 0;
                text-align: center;
                white-space: nowrap;

                @media screen and (max-width: 960px) {
                    font-size: 34px;
                }

                @media screen and (max-width: 414px) {
                    padding: 0 0px 0px 0;
                    width: 100%;
                    text-align: start;
                    font-size: 22px;
                }
            }

            .title {
                font-size: 34px;
                font-weight: 800;
                line-height: 46px;
                text-align: left;
                color: #114990;
                margin-bottom: 32px;

                @media screen and (max-width: 960px) {
                    font-size: 26px;
                    line-height: 35px;
                }

                @media screen and (max-width: 414px) {
                    font-size: 20px;
                    line-height: 27px;
                }
            }

            .text {
                font-family: Vela Sans Thin;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #114990;

                @media screen and (max-width: 960px) {
                    font-size: 16px;
                    line-height: 24px;
                }

                @media screen and (max-width: 414px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }

    .about_brands_wrapper {
        border-bottom: 2px solid #eee;
        padding-top: 56px;
        width: 100%;
        overflow: hidden;

        @media screen and (max-width: 414px) {
            padding-top: 20px;
        }

        .title {
            margin-bottom: 80px;
        }

        .brands_title {
            color: #EB6359;
            font-size: 34px;
            font-weight: 800;
            margin-bottom: 56px;
            text-align: left;

            @media screen and (max-width: 414px) {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        /* .animation2 {
            animation: scroll2 30s linear infinite;
        } */

        .about_brands {
            margin: auto;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            width: calc(150px * 14);
            animation: scroll 40s linear infinite;
            margin-bottom: 64px;

            @media screen and (max-width: 414px) {
                width: calc(111px * 14);
            }

            @media screen and (max-width: 414px) {
                margin-bottom: 20px;
            }

            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    @media screen and (max-width: 414px) {
                        transform: translateX(calc(111px * 6));
                    }

                    transform: translateX(calc(-150px *6));
                }
            }

            .img_wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 150px;
                padding: 10px;
                margin-right: 100px;
                overflow: visible;
                transition: all ease .3s;

                @media screen and (max-width: 414px) {
                    width: 111px;
                    height: 60px;
                    margin-right: 0px;
                }

                &:hover img {
                    transform: scale(1.1);
                }
            }

            img {
                transition: all ease .3s;
                overflow: visible;

                @media screen and (max-width: 414px) {
                    width: 111px;
                    height: 60px;
                }
            }
        }
    }

    .about_delivery {
        padding-top: 90px;

        @media screen and (max-width: 414px) {
            padding-top: 30px;
        }

        .card {
            padding: 26px 30px;
            display: flex;
            flex-flow: row;
            border-radius: 20px;
            box-shadow: 0px 8px 24px 0px #8187BD26;
            border: none;
            margin-bottom: 56px;

            @media screen and (max-width: 414px) {
                flex-direction: column;
                padding: 30px 10px;
            }

            p {
                width: 50%;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                text-align: left;
                color: #114990;

                @media screen and (max-width: 414px) {
                    width: 100%;
                    font-size: 12px;
                }

                span {
                    color: #EB6359;
                }
            }

            .indicator {
                display: flex;
                width: 50%;
                margin-left: 60px;

                @media screen and (max-width: 414px) {
                    width: 100%;
                    margin-left: 0px;
                }

                p {
                    width: 100%;

                    @media screen and (max-width: 414px) {
                        font-size: 12px;
                    }
                }

                .blue {
                    .line {
                        background: #2863B0;
                        width: 100%;
                        height: 44px;
                        border-radius: 10px 0px 0px 10px;
                        margin-bottom: 13px;
                    }

                }

                .white {
                    .line {
                        background: #E5F1FF;
                        width: 100%;
                        height: 44px;
                        border-radius: 0px 10px 10px 0px;
                        margin-bottom: 13px;
                    }


                }

            }
        }

        .map {
            margin-bottom: 80px;
            width: 100%;

            img {
                width: inherit;
            }
        }
    }



}