#content {

    h1 {
        margin-bottom: 56px;
    }

    .catalogs {

        div {
            display: flex;
            justify-content: space-around;
        }

        .catalogs_item {
            position: relative;
            width: 380px;
            height: 300px;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 20px;

            .background {
                width: 100%;
                height: 100%;
                position: absolute;
                background: grey;
                opacity: .4;
                z-index: 10;
                border-radius: 20px;
            }

            :not(:last-child) {
                margin-right: 0px;

            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            h3 {
                font-size: 20px;
                font-weight: 800;
                line-height: 27px;
                text-align: left;
                color: #fff;
                bottom: 30px;
                left: 30px;
                position: absolute;
                z-index: 1000000;
            }
        }
    }

    .catalogs_list-title {
        margin-bottom: 48px;

        h1 {
            margin-bottom: 24px;
        }

        p {
            color: #114990;
            font-family: Vela Sans Thin;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            width: 660px;
        }
    }

    .catalogs_list-filter {
        border-bottom: solid 2px #eee;
        padding-bottom: 28px;

        .title {
            color: #EB6359;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            display: flex;
            align-items: center;

        }

        .divider {
            height: 2px;
            width: 100%;
            display: block;
            background-color: #eee;
            margin-left: 15px;
        }

        .chip_wrapper {
            display: flex;
            width: 100vw;
            .chip {
                border: solid 2px #2863B0;
                border-radius: 30px;
                padding: 12px 24px;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                margin-right: 24px;
                color: #2863B0;
                white-space: nowrap;
                transition: all .3s;

                :not(:last-child) {
                    margin-right: 0;
                }

                &:hover {
                    background: #2863B0;
                    color: #fff;
                }
            }

            .active {
                background: #2863B0;
                color: #fff;
            }
        }
    }

    .catalogs_list-count {
        margin-top: 28px;
        margin-bottom: 48px;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        color: #114990;
    }

    .catalogs_list {
        div {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        a {
            margin: 0;
            padding: 0;
        }

        .catalogs_item {
            margin-right: 32px;
            width: 100%;
            max-width: 300px;
            display: block;
            margin-bottom: 54px;
            border-radius: 2px;

            :not(:last-child) {
                margin-right: 0;
            }

            .img_wrapper {
                background: #A4B0CC;
                border-radius: 5px;
                width: inherit;
                height: 200px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .subtitle {
                font-size: 12px;
                font-weight: 700;
                text-align: left;
                color: #114990;
                margin-bottom: 14px;
                margin-top: 16px;
            }

            .title {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                text-align: left;
                color: #2863B0;
                margin-bottom: 14px;
            }

            .text {
                font-family: Vela Sans Thin;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                color: #114990;
                margin-bottom: 14px;
            }

            .price {
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                color: #EB6359;
            }
        }
    }

    .catalog_info {
        border-bottom: 2px solid #eee;
        padding-bottom: 56px;
        margin-bottom: 56px;
        height: 100%;
        display: flex;
        flex-flow: row;

        .img_wrapper {
            width: 50%;

            .main {
                width: 100%;
                object-fit: cover;
                background-color: #eee;
                border-radius: 5px;
                margin-bottom: 40px;
            }

            .img_list {
                display: flex;

                img {
                    width: 94px;
                    height: 72px;
                    background: #eee;
                    border-radius: 5px;
                    margin-right: 42px;

                    :not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }

        .details {
            margin-left: 40px;
            width: 50%;

            .subtitle {
                font-size: 14px;
                font-weight: 700;
                text-align: left;
                color: #A4B0CC;
                margin-bottom: 14px;
                display: flex;
                align-items: center;
                white-space: nowrap;

                .divider {
                    background-color: #eee;
                    height: 2px;
                    width: 100%;
                    margin-left: 10px;
                }
            }

            .catalogs_table {
                // margin-left: 20px;
                width: 100%;

                .row {
                    display: flex;
                    justify-content: space-between;
                    width: inherit;
                    margin: auto;

                    .value {
                        color: #A4B0CC;
                        font-family: Vela Sans Thin;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18px;
                        text-align: right;
                        width: 70%;
                    }
                }
            }

            h2 {
                font-size: 34px;
                font-weight: 800;
                line-height: 46px;
                text-align: left;
                color: #2863B0;
                margin-bottom: 14px;
            }

            .text {
                font-family: Vela Sans Thin;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                color: #114990;
                margin-bottom: 14px;
            }

            .price {
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                color: #EB6359;
                margin-bottom: 32px;
            }
        }
    }
}