#content h1 {
  margin-bottom: 56px;
}
@media screen and (max-width: 416px) {
  #content h1 {
    margin-bottom: 32px;
  }
}
#content .catalogs div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 416px) {
  #content .catalogs div {
    flex-direction: column;
  }
}
#content .catalogs a {
  width: 100%;
  margin-right: 20px;
}
#content .catalogs .catalogs_item {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 416px) {
  #content .catalogs .catalogs_item {
    height: 170px;
    width: 100%;
  }
}
#content .catalogs .catalogs_item:hover img {
  transform: scale(1.1);
}
#content .catalogs .catalogs_item .background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 0.4;
  z-index: 10;
  border-radius: 20px;
}
#content .catalogs .catalogs_item :not(:last-child) {
  margin-right: 0px;
}
#content .catalogs .catalogs_item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all ease 0.3s;
}
#content .catalogs .catalogs_item h3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  text-align: left;
  color: #fff;
  bottom: 30px;
  left: 30px;
  position: absolute;
  z-index: 1000000;
}
@media screen and (max-width: 416px) {
  #content .catalogs .catalogs_item h3 {
    font-size: 14px;
    bottom: 0;
    left: 10px;
  }
}
#content .catalogs_list-title {
  margin-bottom: 48px;
}
#content .catalogs_list-title h1 {
  margin-bottom: 24px;
}
#content .catalogs_list-title p {
  color: #114990;
  font-family: Vela Sans Thin;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 416px) {
  #content .catalogs_list-title p {
    font-size: 14px;
  }
}
#content .catalogs_list-filter {
  border-bottom: solid 2px #eee;
}
#content .catalogs_list-filter .title {
  color: #EB6359;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}
#content .catalogs_list-filter .divider {
  height: 2px;
  width: 100%;
  display: block;
  background-color: #eee;
  margin-left: 15px;
}
#content .catalogs_list-filter .chip_wrapper {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 28px;
  width: 100%;
  height: 100%;
}
#content .catalogs_list-filter .chip_wrapper::-webkit-scrollbar {
  display: none;
}
#content .catalogs_list-filter .chip_wrapper .chip {
  border: solid 2px #2863B0;
  border-radius: 30px;
  padding: 12px 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-right: 24px;
  color: #2863B0;
  white-space: nowrap;
  transition: all 0.3s;
}
#content .catalogs_list-filter .chip_wrapper .chip :not(:last-child) {
  margin-right: 0;
}
#content .catalogs_list-filter .chip_wrapper .chip:hover {
  background: #2863B0;
  color: #fff;
}
#content .catalogs_list-filter .chip_wrapper .active {
  background: #2863B0;
  color: #fff;
}
#content .catalogs_list-count {
  margin-top: 28px;
  margin-bottom: 48px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #114990;
}
#content .catalogs_list {
  flex-flow: wrap;
  justify-content: space-around;
  display: flex;
}
#content .catalogs_list div {
  display: flex;
  justify-content: space-around;
}
#content .catalogs_list a {
  margin: 0;
  padding: 0;
}
#content .catalogs_list .catalogs_item {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-bottom: 54px;
  border-radius: 2px;
}
@media screen and (max-width: 960px) {
  #content .catalogs_list .catalogs_item {
    max-width: 270px;
  }
}
@media screen and (max-width: 416px) {
  #content .catalogs_list .catalogs_item {
    max-width: 136px;
  }
}
#content .catalogs_list .catalogs_item :not(:last-child) {
  margin-right: 0;
}
#content .catalogs_list .catalogs_item .img_wrapper {
  background: #A4B0CC;
  border-radius: 5px;
  width: inherit;
  height: 200px;
}
@media screen and (max-width: 416px) {
  #content .catalogs_list .catalogs_item .img_wrapper {
    max-height: 104px;
  }
}
#content .catalogs_list .catalogs_item .img_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#content .catalogs_list .catalogs_item .subtitle {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #114990;
  margin-bottom: 14px;
  margin-top: 16px;
}
#content .catalogs_list .catalogs_item .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #2863B0;
  margin-bottom: 14px;
}
#content .catalogs_list .catalogs_item .text {
  font-family: Vela Sans Thin;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #114990;
  margin-bottom: 14px;
}
#content .catalogs_list .catalogs_item .price {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #EB6359;
}
#content .catalog_info {
  border-bottom: 2px solid #eee;
  padding-bottom: 56px;
  margin-bottom: 56px;
  height: 100%;
  display: flex;
  flex-flow: row;
}
@media screen and (max-width: 416px) {
  #content .catalog_info {
    flex-wrap: wrap;
  }
}
#content .catalog_info .img_wrapper {
  width: 50%;
}
@media screen and (max-width: 416px) {
  #content .catalog_info .img_wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
#content .catalog_info .img_wrapper .main {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 40px;
}
@media screen and (max-width: 416px) {
  #content .catalog_info .img_wrapper .main {
    display: none;
  }
}
#content .catalog_info .img_wrapper .img_list {
  display: flex;
  overflow-x: scroll;
}
#content .catalog_info .img_wrapper .img_list::-webkit-scrollbar {
  display: none;
}
#content .catalog_info .img_wrapper .img_list img {
  width: 94px;
  height: 72px;
  background: #eee;
  border-radius: 5px;
  margin-right: 42px;
}
@media screen and (max-width: 416px) {
  #content .catalog_info .img_wrapper .img_list img {
    height: 200px;
    width: 264px;
  }
}
#content .catalog_info .img_wrapper .img_list img :not(:last-child) {
  margin-right: 0;
}
#content .catalog_info .details {
  margin-left: 40px;
  width: 50%;
}
@media screen and (max-width: 416px) {
  #content .catalog_info .details {
    width: 100%;
    margin-left: 0;
  }
}
#content .catalog_info .details .subtitle {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #A4B0CC;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
#content .catalog_info .details .subtitle .divider {
  background-color: #eee;
  height: 2px;
  width: 100%;
  margin-left: 10px;
}
#content .catalog_info .details .catalogs_table {
  width: 100%;
}
#content .catalog_info .details .catalogs_table .row {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin: auto;
}
#content .catalog_info .details .catalogs_table .row .value {
  color: #A4B0CC;
  font-family: Vela Sans Thin;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  width: 70%;
}
#content .catalog_info .details h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 46px;
  text-align: left;
  color: #2863B0;
  margin-bottom: 14px;
}
#content .catalog_info .details .text {
  font-family: Vela Sans Thin;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #114990;
  margin-bottom: 14px;
}
#content .catalog_info .details .price {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #EB6359;
  margin-bottom: 32px;
}/*# sourceMappingURL=catalogs.css.map */