#content {

    h1 {
        margin-top: 56px;
        margin-bottom: 56px;
    }

    .contacts_card-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .contacts_card {
            background: #2863B0;
            border-radius: 20px;
            padding: 20px 24px;
            margin-right: 20px;
            width: 420px;
            color: #fff;
            margin-bottom: 30px;

            .contacts_card-bottom {
                margin-top: 20px;
            }

            .divider {
                background: #FFFFFF;
                opacity: .7;
                height: 2px;
                width: 100%;
                border-radius: 10%;
                margin-top: 20px;
            }

            .contacts_info {
                display: flex;
                width: 380px;

            }

            .title {
                font-size: 20px;
                font-weight: 700;
                text-align: left;
                margin-bottom: 10px;
                // line-height: 30px;
            }

            .subtitle {
                font-family: Vela Sans Thin;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 15px;
                line-height: 25px;
                text-align: left;



                span {
                    font-weight: bold;
                    margin-right: 24px;

                    :not(:last-child) {
                        margin-right: 0;
                    }
                }

                img {
                    margin-right: 10px;
                }

            }

            :not(:last-child) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }


    }



}
