footer {
  background: #2863B0;
  margin: auto;
  width: 100vw;
  min-width: 1000px;
  padding: 40px 0px 28px 0px;
}
@media screen and (max-width: 960px) {
  footer {
    min-width: 960px;
  }
}
@media screen and (max-width: 414px) {
  footer {
    min-width: 414px;
  }
}
footer .footer_nav {
  border-bottom: 2px solid #fff;
  padding-bottom: 30px;
  max-width: 1300px;
  min-width: 1000px;
  margin: auto;
  padding: 0 30px 30px 30px;
  display: flex;
  align-items: center;
}
footer .footer_nav .footer_mob {
  display: none;
}
@media screen and (max-width: 960px) {
  footer .footer_nav {
    min-width: 960px;
  }
}
@media screen and (max-width: 414px) {
  footer .footer_nav {
    min-width: 414px;
    flex-direction: column;
    padding: 0 10px 10px 10px;
  }
  footer .footer_nav .footer_btn_wrapper {
    display: none;
  }
  footer .footer_nav .logo_wrapper {
    display: none;
  }
  footer .footer_nav .footer_mob {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    width: 100%;
  }
  footer .footer_nav .footer_mob .logo {
    width: 72px;
    height: 60px;
    margin-right: 40px;
  }
  footer .footer_nav .footer_mob .footer_btn {
    font-size: 14px;
  }
}
footer .footer_nav .footer_btn {
  padding: 16px 32px;
  display: inline-block;
  width: 100%;
  border-radius: 30px;
  color: #fff;
  background: #2863B0;
  border: none;
  border: solid 3px #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
footer .footer_nav .footer_btn:hover {
  background: #fff;
  color: #2863B0;
}
footer .footer_nav .footer_ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}
@media screen and (max-width: 414px) {
  footer .footer_nav .footer_ul {
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
  }
}
footer .footer_nav .footer_ul .footer_ul_col {
  display: flex;
  margin-right: 32px;
}
footer .footer_nav .footer_ul .footer_ul_col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  footer .footer_nav .footer_ul .footer_ul_col {
    flex-direction: column;
  }
}
footer .footer_nav .footer_ul li {
  margin-right: 32px;
  display: flex;
  font-family: "VelaSans";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
footer .footer_nav .footer_ul li:last-child {
  margin-right: 0;
}
footer .footer_nav .footer_ul li a {
  color: #fff;
}
footer .footer_copyright {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  width: 100%;
  margin-top: 26px;
  min-width: 1000px;
  padding: 0 30px;
}
@media screen and (max-width: 960px) {
  footer .footer_copyright {
    min-width: 960px;
  }
}
@media screen and (max-width: 414px) {
  footer .footer_copyright {
    min-width: 414px;
    flex-direction: column;
    text-align: center;
  }
}
footer .footer_copyright p {
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: #fff;
  opacity: 0.5;
}
footer .footer_copyright img {
  width: 12px;
  height: 11px;
  margin-left: 5px;
}/*# sourceMappingURL=footer.css.map */