footer {
    background: #2863B0;
    padding: 30px 0px;
    margin: auto;
    width: 100vw;
    min-width: 1000px;
    .footer_nav {
        border-bottom: 2px solid #fff;
        padding-bottom: 30px;
        max-width: 1300px;
        min-width: 1000px;
        margin: auto;
        display: flex;
        padding: 40px 30px 60px 30px;
        align-items: center;

        .footer_btn {
            padding: 16px 32px;
            display: inline-block;
            width: 100%;
            border-radius: 30px;
            color: #fff;
            background: #2863B0;
            border: none;
            border: solid 3px #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;

            &:hover {
                background: #fff;
                color: #2863B0;
            }
        }

        .footer_ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            width: fit-content;
            margin: 0;
            padding: 0;
            justify-content: center;
            flex: 1;

            li {
                margin-right: 32px;
                display: flex;
                font-family: "VelaSans";
                font-weight: 700;
                font-size: 16px;
                color: #fff;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #fff;

                }
            }
        }
    }

    .footer_copyright {
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        margin: auto;
        width: 100%;
        margin-top: 26px;
        min-width: 1000px;
        padding: 0 30px;

        p {
            font-family: Vela Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            color: #fff;
            opacity: .5;
        }


        img {
            width: 12px;
            height: 11px;
            margin-left: 5px;
        }
    }
}