@font-face {
    font-family: "Vela Sans";
    src: url('../assets/VelaSans/VelaSans-Bold.woff');
}

@font-face {
    font-family: "Vela Sans Thin";
    src: url('../assets/VelaSans/VelaSans-Regular.woff');
}


* {
    margin: 0;
    padding: 0;
    font-family: Vela Sans;

    body {
        min-width: 1460px;
        height: 100%;

        // .title {
        //     color: #2863B0;
        //     font-size: 48px;
        //     font-weight: 800;
        //     line-height: 66px;
        //     text-align: left;
        // }
        .contacts_form {
            background: #E5F1FF;
            display: flex;
            flex-direction: column;
            padding: 40px;
            border-radius: 20px;
            flex: auto;
            margin-top: 80px;
            width: 100%;
            max-width: 860px;
            margin: auto;

            h5 {
                font-family: Vela Sans;
                font-size: 34px;
                font-weight: 800;
                text-align: left;
                color: #2863B0;
                margin: 0;
                margin-bottom: 32px;
            }


            .form {
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .row {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        position: relative;
                        left: 16px;

                        input {
                            width: 100%;
                            margin-right: 32px;
                            margin-left: 0;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    input {
                        margin-bottom: 20px;
                        padding: 17px 24px;
                        border-radius: 10px;
                        border: none;

                        &::placeholder {
                            color: #E5E5E5;
                            font-family: Vela Sans;
                            font-size: 16px;
                            font-weight: 500;
                            text-align: left;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        border: none;
                        text-align: left;

                        img {
                            float: right;
                        }
                    }
                }
            }
        }

        button {
            &:focus {
                outline: none;
            }
        }

        .btn_pink {
            background: #EB6359;
            color: #fff;
            border-radius: 30px;
            padding: 16px 20px 16px 30px;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                background: #fff;
                color: #EB6359;
                border: solid 2px #EB6359;
            }
        }
        .btn_white{
            background: #fff;
            color: #EB6359;
            border-radius: 30px;
            padding: 16px 20px 16px 30px;
            font-size: 16px;
            font-weight: 700;
            transition: all .3s;
            &:hover {
                background: #EB6359;
                color: #fff;
                // border: solid 2px #EB6359;
            }
        }

        #content {
            width: 80%;
            margin: auto;
            padding-top: 48px;
            padding-bottom: 48px;
            height: 100%;

            .navigation {
                margin-bottom: 56px;
                display: flex;
                align-items: center;

                span:hover {
                    text-decoration: none;
                    color: #112641;
                }

                img {
                    margin-right: 16px;
                }

                span {
                    font-size: 14px;
                    font-weight: 700;
                    color: #114990;
                    text-overflow: ellipsis;
                    width: 130px;
                    top: 2px;
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;

                    a {
                        color: #114990;
                    }
                }
            }
        }

        h1 {
            font-size: 48px;
            font-weight: 800;
            color: #2863B0;
        }
    }

}

.catalog_hover {

    label {
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .header_menu {
        margin: auto;
        position: absolute;
        left: -10px;
        top: 40px;
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-out;

        .header_menu_top {
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #2863B0;
            position: absolute;
            top: -11px;
            left: 100px;
        }

        ul {
            background: #2863B0;
            width: 100%;
            display: flex;
            list-style-type: none;
            box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
            border-radius: 15px;
            padding: 14px 0px 14px 14px;
        }

    }

}

#img1 {
    background-image: url('../assets/ep_arrow-down-bold.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    bottom: 7px;
    left: 8px;
    position: relative;
}

#img2 {
    background-image: url('../assets/ep_arrow-down-bold.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    bottom: 7px;
    left: 8px;
    position: relative;
}


#btnControl {
    display: none;

    &:checked+#header_menu1 {
        opacity: 1;
        visibility: visible;
    }

    &:checked~label .img {
        background-image: url('../assets/ep_arrow-up-bold.svg');
    }


    &:checked~p a {
        color: #EB6359;
    }

}


#header_menu2 {
    left: -200px;

    .header_menu_top {
        left: 210px;
    }
}

#btnControl2 {
    display: none;

    &:checked+#header_menu2 {
        opacity: 1;
        visibility: visible;
    }

    &:checked~label span {
        color: #114990;
    }

    &:checked~p a {
        color: #EB6359;
    }

    &:checked~label .img {
        background-image: url('../assets/ep_arrow-up-bold.svg');
    }
}


.menu_grid {
    width: 100%;

    a:hover {
        text-decoration: none;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 20px 24px 20px 24px;
        transition: all .3s;
        border-radius: 10px;

        img {
            width: 32px;
            height: 32px;
            margin-right: 18px;
        }

        span {
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            color: #fff;
            width: 160px;
        }

        &:hover {
            background: #fff;
            border-radius: 10px;

            span {
                color: #114990;
            }

            // padding: 20px 24px 20px 24px;
        }
    }


}

.header {
    position: relative;

    .logo {
        width: 96px;
        height: 80px;
        margin-right: 56px;
        cursor: pointer;
    }

    .header_ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: solid 2px #eee;
        margin: 0;
        padding: 0;

        li {
            cursor: pointer;
            margin-right: 32px;
            display: flex;
            font-family: Vela Sans;
            font-weight: 700;
            font-size: 16px;
            color: #114991;
            position: relative;
            align-items: center;

            a {
                color: #114991;
            }

        }


    }

    .header_nav {
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        align-items: center;


    }
}

.header_btn {
    padding: 16px 32px;
    display: inline-block;
    width: 290px;
    border-radius: 30px;
    color: #fff;
    background: #EB6359;
    border: none;
    font-family: Vela Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    margin-left: 56px;
    transition: all .3s;

    &:hover {
        background: #fff;
        color: #EB6359;
        border: solid #EB6359 2px;
    }
}



.material-symbols-rounded {
    margin: auto;
    margin-top: 0px;
    color: #A4B0CC;
    width: 14px;
    height: 14px;
    transition: color .3s ease-out;
    cursor: pointer;

}