@font-face {
  font-family: "Vela Sans";
  src: url("../assets/VelaSans/VelaSans-Bold.woff");
}
@font-face {
  font-family: "Vela Sans Thin";
  src: url("../assets/VelaSans/VelaSans-Regular.woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: Vela Sans;
}
* body {
  width: 100%;
  height: 100%;
  /* .img_wrapper {
      position: absolute;
      background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      border-radius: 20px;
      width: 100%;
      height: 100%;
  } */
}
* body #content {
  min-width: 1300px;
  max-width: 1300px;
  padding: 0 30px;
}
* body .carousel-item {
  width: 100%;
}
* body .carousel-item .img_wrapper {
  position: absolute;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
* body .contacts_form {
  background: #E5F1FF;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  flex: auto;
  margin-top: 80px;
  width: 100%;
  max-width: 860px;
  margin: auto;
}
* body .contacts_form h5 {
  font-family: Vela Sans;
  font-size: 34px;
  font-weight: 800;
  text-align: left;
  color: #2863B0;
  margin: 0;
  margin-bottom: 32px;
}
* body .contacts_form .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
* body .contacts_form .form form .row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: relative;
  left: 16px;
}
* body .contacts_form .form form .row input {
  width: 100%;
  margin-right: 32px;
  margin-left: 0;
}
* body .contacts_form .form form .row input:last-child {
  margin-right: 0;
}
* body .contacts_form .form form input {
  margin-bottom: 20px;
  padding: 17px 24px;
  border-radius: 10px;
  border: none;
}
* body .contacts_form .form form input::-moz-placeholder {
  color: #E5E5E5;
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
* body .contacts_form .form form input:-ms-input-placeholder {
  color: #E5E5E5;
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
* body .contacts_form .form form input::placeholder {
  color: #E5E5E5;
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
* body .contacts_form .form form input:focus {
  outline: none;
}
* body .contacts_form .form form button {
  text-align: left;
}
* body .contacts_form .form form button img {
  float: right;
}
* body button {
  transition: all 0.3s;
}
* body button:focus {
  outline: none;
}
* body .btn_pink {
  background: #EB6359;
  color: #fff;
  border-radius: 30px;
  padding: 16px 20px 16px 30px;
  font-size: 16px;
  font-weight: 700;
  border: solid 2px #EB6359;
}
* body .btn_pink:hover .img {
  -webkit-mask: url("../assets/Vector-white.svg");
          mask: url("../assets/Vector-white.svg");
  background: #EB6359;
}
* body .btn_pink .img {
  float: right;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../assets/Vector-white.svg");
}
* body .btn_pink .left {
  float: left;
}
* body .btn_pink:hover {
  background: #fff;
  color: #EB6359;
  border: solid 2px #EB6359;
}
* body .btn_white {
  background: #fff;
  color: #EB6359;
  border-radius: 30px;
  padding: 16px 20px 16px 30px;
  font-size: 16px;
  font-weight: 700;
  border: solid 2px #EB6359;
  cursor: pointer;
}
* body .btn_white:hover .img {
  background: #fff;
  -webkit-mask: url("../assets/intro-arrow.svg");
          mask: url("../assets/intro-arrow.svg");
}
* body .btn_white .img {
  float: right;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../assets/intro-arrow.svg");
}
* body .btn_white .left {
  float: left;
  background-image: url("../assets/Vector-pink-left.svg");
}
* body .btn_white:hover .left {
  background: #fff;
  -webkit-mask: url("../assets/Vector-pink-left.svg");
          mask: url("../assets/Vector-pink-left.svg");
}
* body .btn_white:hover {
  background: #EB6359;
  color: #fff;
}
* body #content {
  width: 80%;
  margin: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100%;
}
* body #content .navigation {
  margin-bottom: 56px;
  display: flex;
  align-items: center;
}
* body #content .navigation span:hover {
  text-decoration: none;
  color: #112641;
}
* body #content .navigation img {
  margin-right: 16px;
}
* body #content .navigation span {
  font-size: 14px;
  font-weight: 700;
  color: #114990;
  text-overflow: ellipsis;
  width: 130px;
  top: 2px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
* body #content .navigation span a {
  color: #114990;
}
* body h1 {
  font-size: 48px;
  font-weight: 800;
  color: #2863B0;
}

.catalog_hover label {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.catalog_hover .header_menu {
  margin: auto;
  position: absolute;
  left: -10px;
  top: 40px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
}
.catalog_hover .header_menu .header_menu_top {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2863B0;
  position: absolute;
  top: -11px;
  left: 100px;
}
.catalog_hover .header_menu ul {
  background: #2863B0;
  width: 100%;
  display: flex;
  list-style-type: none;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
  border-radius: 15px;
  padding: 14px 0px 14px 14px;
}

#img1 {
  background-image: url("../assets/ep_arrow-down-bold.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  bottom: 7px;
  left: 8px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

#img2 {
  background-image: url("../assets/ep_arrow-down-bold.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  bottom: 7px;
  left: 8px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

#btnControl {
  display: none;
}
#btnControl:checked + #header_menu1 {
  opacity: 1;
  visibility: visible;
}
#btnControl:checked ~ label .img {
  background-image: url("../assets/ep_arrow-up-bold.svg");
}
#btnControl:checked ~ p a {
  color: #EB6359;
}

#header_menu2 {
  left: -200px;
}
#header_menu2 .header_menu_top {
  left: 210px;
}

#btnControl2 {
  display: none;
}
#btnControl2:checked + #header_menu2 {
  opacity: 1;
  visibility: visible;
}
#btnControl2:checked ~ label span {
  color: #114990;
}
#btnControl2:checked ~ p a {
  color: #EB6359;
}
#btnControl2:checked ~ label .img {
  background-image: url("../assets/ep_arrow-up-bold.svg");
}

.menu_grid {
  width: 100%;
}
.menu_grid a:hover {
  text-decoration: none;
}
.menu_grid li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px 24px 20px 24px;
  transition: all 0.3s;
  border-radius: 10px;
}
.menu_grid li img {
  width: 32px;
  height: 32px;
  margin-right: 18px;
}
.menu_grid li span {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  width: 160px;
}
.menu_grid li:hover {
  background: #fff;
  border-radius: 10px;
}
.menu_grid li:hover span {
  color: #114990;
}

.header {
  width: 100%;
  max-width: 1300px;
  min-width: 1300px;
  position: relative;
  margin: auto;
}
.header .logo {
  width: 96px;
  height: 80px;
  margin-right: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../assets/logo.svg");
  /* @media screen and (max-width: 960px) {
      background-repeat: no-repeat;
      width: 48px;
      height: 48px;
      background-image: url('../assets/charm_menu-hamburger.svg');
  } */
}
.header .header_ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #eee;
  margin: 0;
  padding: 0;
  /*  @media screen and (max-width: 960px) {
      display: none;
  } */
}
.header .header_ul li {
  cursor: pointer;
  margin-right: 32px;
  display: flex;
  font-family: Vela Sans;
  font-weight: 700;
  font-size: 16px;
  color: #114991;
  position: relative;
  align-items: center;
}
.header .header_ul li a {
  color: #114991;
}
.header .header_ul li p a {
  transition: all 0.3s;
}
.header .header_nav {
  display: flex;
  margin: auto;
  padding-top: 20px;
  align-items: center;
  padding: 20px 30px 0 30px;
  position: relative;
}

.header_btn {
  width: 290px;
  transition: all 0.3s;
  margin-left: 30px;
}

.material-symbols-rounded {
  margin: auto;
  margin-top: 0px;
  color: #A4B0CC;
  width: 14px;
  height: 14px;
  transition: color 0.3s ease-out;
  cursor: pointer;
}/*# sourceMappingURL=header.css.map */