h3 {
  font-family: Vela Sans;
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  color: #2863B0;
  margin: 0;
}

/* 
section {
    width: 80%;
    margin: auto;
} */
.intro {
  display: flex;
  padding: 0px 0 80px 0;
  border-bottom: solid 2px #EEEEEE;
  border-radius: 1px;
  max-height: 676px;
  -webkit-animation: mainFade 0.6s;
          animation: mainFade 0.6s;
}
.intro .intro_1 {
  margin-right: 59px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.intro .intro_1 .intro_text {
  font-family: Vela Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #EB6359;
  width: 100%;
}
.intro .intro_1 .main_title {
  font-size: 72px;
  font-weight: bold;
  text-align: left;
  color: #2863B0;
  margin: 0;
  margin-top: 24px;
  width: 100%;
}
@media screen and (max-width: 1540px) {
  .intro .intro_1 .main_title {
    font-size: 50px;
  }
}
.intro .intro_1 .intro_subtitle {
  font-family: Vela Sans Thin;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #114990;
  margin-top: 24px;
  width: 100%;
}
.intro .intro_1 button {
  text-align: left;
  width: 100%;
  margin-top: 32px;
}
.intro .intro_slider {
  position: relative;
  width: 100%;
  display: flex;
  flex: 2;
  flex-direction: row;
}
.intro .intro_slider h2 {
  font-family: Vela Sans;
  font-size: 65px;
  font-weight: 700;
  color: #2863B0;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  .intro .intro_slider h2 {
    display: none;
  }
}
.intro .intro_slider .carousel {
  flex: 1;
  width: inherit;
  margin-right: 42px;
  position: relative;
  height: inherit;
  border-radius: 20px;
  display: flex;
  justify-content: end;
  /*  @media screen and (max-width: 1540px) {
      // width: 70%;

  } */
}
@media screen and (max-width: 1000px) {
  .intro .intro_slider .carousel {
    margin-right: 0;
  }
}
.intro .intro_slider .carousel .carousel-inner {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}
.intro .intro_slider .carousel .carousel-item {
  height: 100%;
  width: inherit;
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
}
.intro .intro_slider .carousel .carousel-item img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  background: red;
  border-radius: 20px;
  max-height: 562px;
}
.intro .intro_slider .carousel ol {
  display: flex;
  flex-direction: row;
  justify-content: end;
  bottom: 10px;
  right: 0px;
  position: absolute;
  width: inherit;
}
.intro .intro_slider .carousel ol li {
  opacity: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
}
.intro .intro_slider .carousel ol li:last-child {
  margin-right: 0;
}

.main-fade {
  -webkit-animation: mainFade 0.6s;
          animation: mainFade 0.6s;
}
@-webkit-keyframes mainFade {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes mainFade {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.catalogs {
  padding: 80px 0 80px;
  border-bottom: solid 2px #EEEEEE;
  border-radius: 1px;
}
.catalogs .catalogs_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.catalogs .catalogs_header h3 {
  font-family: Vela Sans;
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  color: #2863B0;
  margin: 0;
  width: 100%;
}
.catalogs .catalogs_header .catalogs_subtitle {
  font-family: Vela Sans Thin;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #114990;
}
.catalogs .catalogs_main {
  display: flex;
  margin-top: 56px;
  width: 100%;
}
.catalogs .catalogs_main .card {
  position: relative;
  margin-right: 20px;
  flex: 1;
  z-index: 10000;
  border-radius: 20px;
  max-height: 288px;
  overflow: hidden;
  transform: scale(1);
}
.catalogs .catalogs_main .card:hover img {
  transform: scale(1.1);
}
.catalogs .catalogs_main .card:last-child {
  margin-right: 0;
}
.catalogs .catalogs_main .card .img_wrapper {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 20px;
  position: absolute;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.catalogs .catalogs_main .card img {
  transition: 0.3s ease all;
  width: 100%;
  max-height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}
.catalogs .catalogs_main .card p {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  text-align: left;
  color: #fff;
  display: flex;
  top: 60%;
  z-index: 100000000;
  padding: 30px;
  vertical-align: bottom;
}
.catalogs button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.products {
  padding: 80px 0;
  border-bottom: 2px solid #eee;
  border-radius: 1px;
}
.products .products-header {
  display: flex;
}
.products .products-header .products_slider {
  position: relative;
  flex: 2;
  margin-right: 40px;
}
.products .products-header .products_slider .carousel .carousel-item {
  height: 100%;
  width: inherit;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}
.products .products-header .products_slider .carousel img {
  width: 620px;
  height: 360px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .products-header .products_slider .carousel h5 {
  font-family: Vela Sans;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -40%;
}
.products .products-header .products_slider .carousel ol {
  display: flex;
  flex-direction: row;
  justify-content: end;
  bottom: 10px;
  right: -50px;
  position: absolute;
}
.products .products-header .products_slider .carousel ol li {
  opacity: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
}
.products .products-header .products_slider .carousel ol li:last-child {
  margin-right: 0;
}
.products .products-header .products_slider h2 {
  font-family: Vela Sans;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
  color: #2863B0;
  transform: rotate(90deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 220px;
  right: -330px;
}
@media screen and (max-width: 1540px) {
  .products .products-header .products_slider h2 {
    font-size: 50px;
    right: -260px;
    top: 160px;
  }
}
.products .products-header .products_info {
  flex: 2;
}
.products .products-header .products_info h3 {
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  color: #114990;
}
.products .products-header .products_info p {
  font-family: Vela Sans Thin;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #114990;
  margin: 0;
  margin-bottom: 36px;
}
.products .products-header .products_info button {
  text-align: center;
  width: 100%;
}
.products .products_brands_wrapper {
  overflow: hidden;
}
.products .products_brands {
  flex-direction: row;
  display: flex;
  margin-top: 66px;
  width: 3200px;
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  padding-top: 56px;
  width: 100%;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}
.products .products_brands .img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-right: 100px;
  overflow: visible;
  transition: all ease 0.3s;
}
.products .products_brands .img_wrapper:hover img {
  transform: scale(1.1);
}
.products .products_brands img {
  transition: all ease 0.3s;
  overflow: visible;
}

.news {
  padding: 80px 0;
  border-bottom: 2px solid #eee;
  border-radius: 1px;
}
.news h3 {
  font-family: Vela Sans;
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  color: #2863B0;
  margin: 0;
}
.news .news_cards {
  display: flex;
  margin-top: 56px;
  margin-bottom: 46px;
}
.news .news_cards .news_card {
  position: relative;
  margin-right: 20px;
  width: 100%;
  flex: 1;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
}
.news .news_cards .news_card:hover img {
  transform: scale(1.1);
}
.news .news_cards .news_card:last-child {
  margin-right: 0;
}
.news .news_cards .news_card img {
  border-radius: 20px;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease 0.3s;
}
.news .news_cards .news_card .img_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 20px;
  z-index: 10000;
}
.news .news_cards .news_card .card_chip {
  position: absolute;
  background: #058F6C;
  padding: 8px;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  z-index: 10000000;
}
.news .news_cards .news_card .card_chip p {
  margin: 0;
  font-family: Vela Sans;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  color: #fff;
  vertical-align: bottom;
}
.news .news_cards .news_card .card_body {
  z-index: 10000000;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  width: 90%;
}
.news .news_cards .news_card .card_body .card_subtitle {
  font-family: Vela Sans;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #114990;
}
.news .news_cards .news_card .card_body .card_text {
  font-family: Vela Sans;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: #114990;
  margin: 0;
}
.news button {
  text-align: center;
  width: 100%;
}

.contacts {
  display: flex;
  padding: 56px 0 90px 0;
  align-items: center;
}
.contacts h3 {
  font-family: Vela Sans;
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  color: #2863B0;
  margin: 0;
}
.contacts .contacts_info .contacts_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 56px;
}
.contacts .contacts_info .contacts_ul li {
  font-family: Vela Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  color: #2863B0;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contacts .contacts_info .contacts_ul li img {
  margin-right: 24px;
}
.contacts .contacts_slider {
  display: flex;
  margin-top: 56px;
}
.contacts .contacts_slider .contacts_slider_btn {
  border-radius: 30px;
  background: #fff;
  color: #2863B0;
  font-family: Vela Sans;
  font-size: 16px;
  font-weight: 700;
  border: solid 3px #2863B0;
  padding: 16px 42px;
  margin-right: 20px;
  width: 100%;
  white-space: nowrap;
}
.contacts .contacts_slider .contacts_slider_btn:hover {
  background-color: #2863B0;
  color: #fff;
  transition: 0.5s ease all;
}
.contacts .contacts_slider .active {
  background-color: #2863B0;
  color: #fff;
  width: 100%;
}/*# sourceMappingURL=index.css.map */